body {
  font-family: 'Poppins', sans-serif;
  background-color: #1a1a1a;
  color: #e0e0e0;
}

.main-container {
  margin-left: 20px;
  margin-right: 20px;
  width: auto;
}

.navbar {
    background-color: #000000 !important;
    border-bottom: 2px solid #dc3545;
}

.navbar-brand {
    color: #dc3545 !important;
}

.nav-link {
  color: #dc3545 !important;
}

.nav-link.active,
.nav-link:hover {
    color: #ffffff !important;
}

h2 {
  color: #dc3545;
  font-weight: 600;
}

.card {
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 10px;
  color: #ffffff;
}

input, select {
  background-color: #212529 !important;
  color: #f8f9fa !important;
  border: 1px solid #495057 !important;
}

input:focus, select:focus {
  border-color: #dc3545 !important;
  box-shadow: 0 0 0 0.2rem rgba(13, 202, 240, 0.25);
}

#exportMenu {
  display: none;
  position: absolute;
  top: 38px;
  right: 0;
  background: #212529;
  border: 1px solid #ccc;
  border-radius: 6px;
  z-index: 100;
  min-width: 120px;
}

#exportMenu .dropdown-item:hover {
  background: #e9ecef;
}

.table th {
  color: #dc3545;
  border-bottom: 2px solid #dc3545 !important;
  align-items: center;
  align-content: center;
}

button {
  transition: all 0.3s ease;
}

button:hover {
  opacity: 0.8;
}

.btn-outline-info {
  color: #dc3545 !important;
  border-color: #dc3545 !important;
}

.btn-outline-info:hover {
  background-color: #ffffff !important;
  color: #212529 !important;
  border-color: #ffffff !important;
}

.bg-secondary {
  background-color: #343a40 !important;
}

.dropdown-menu-dark {
  background-color: #212529 !important;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.dropdown-item {
  color: #dc3545 !important;
}

.dropdown-item:hover {
  background-color: #dc3545 !important;
  color: #ffffff !important;
}

.bg-info {
  background-color: #dc3545 !important;
  color: #ffffff !important;
}

th {
  cursor: pointer;
  user-select: none;
  position: relative;
}

th.sorted-asc::after,
th.sorted-desc::after {
  position: absolute;
  right: 8px;
  font-size: 0.8rem;
  color: #dc3545;
}

th.sorted-asc::after {
  content: "▲";
}

th.sorted-desc::after {
  content: "▼";
}

th:hover {
  color: #f8d7da;
}